.img-box{
  width: 300px;
  height: 200px;
  
}
.box{
  width: 300px;
  height: 500px;
  background: green;
  margin-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.App{
  display: flex;
  align-items: center;
  justify-content: center;
}
.price{
  color: red;
}
